#confirm-email {
  padding: 30px;
  font-family: "Inconsolata", monospace;
}

.container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #5b89d9;
  border-radius: 4px;
  background: #a8dadc;
}

.title {
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
  background: #457b9d;
  color: white;
  height: 100px;
  line-height: 100px;
}

.text-hello,
.text-info {
  font-weight: bold;
}

.btn-go {
  display: block;
  padding: 10px;
  outline: none;
  border: none;
  background: #f1faee;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  text-align: center;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

.btn-go:hover {
  opacity: 0.8;
}

@media (max-width: 525px) {
  .title {
    font-size: 18px;
    height: 60px;
    line-height: 60px;
  }

  #confirm-email {
    padding: 20px;
  }
}
